// imports
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400|Raleway:100,300,500);

// global variables
$width: 	100%;
$height:    100%;
$lato:      'Lato', sans-serif;
$raleway:   'Raleway', sans-serif;

// mixins
@mixin hover($timing){
-webkit-transition:  $timing;
-moz-transition:     $timing;
transition:          $timing;
}

// CSS
.header {
    margin: 5em 0;
}

.row.calc {
    display: flex;
}

.rounded {
    border-radius: 6px;
    overflow: hidden;
}

.base {
    color: #FFF;
    font-size: 1em;
    font-family: $lato;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    width: $width/4;
    display: inline-block;
}

.value {
    @extend .base;
    background-color: #444;

    &:active {
        background-color: #555;
    }
}

.operator {
    @extend .base;
    background-color: #666;

    &:active {
        background-color: #777;
    }
}

.zero {
    width: $width/2;
}

#equals {
    background-color: #3498DB;
    width: 75%;
    
    &:active {
        background-color: #6BB9F0;
    }
}

#clear {
    background-color: #C0392B;
    border-color: #C0392B;
    color: #FFF;
    
    &:hover {
        background-color: #C0392B;
        border-color: #C0392B;
        color: #FFF;
    }
    
    &:active {
        background-color: #D24D57;
        border-color: #D24D57;
    }
    
    &:focus {
        color: #FFF;
        border-color: #C0392B;
    }
}

#answer {
    height: 38px;
    padding: 6px 20px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 1rem;
    text-align: right;
}